
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

.status_text{
	width:100%;
	line-height:3;
}

.fa{
	color:#fff;
}